<style>
    /* Services */
    .services-cars {
        margin-bottom: 50px;
    }

    .services-cars {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0;
        max-width: 100%;
        overflow: auto;


        border-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 50px 0;
        max-width: 100%;
        overflow: auto;
    }

    .services-cars div {
        display: flex;
        align-items: center;
        flex-direction: column;
        /* justify-content: flex-end; */
    }

    .services-cars img {
        max-width: 50%;
    }

    .services-dec {
        display: flex;
        text-align: justify;
    }

    .services-dec img {
        width: 50%;
    }
</style>

<div id="services" class="container">
    <h2>سرویس های تپسی</h2>
    <div class="services-box">
        <div class="services-cars">
            <div>
                <img src="./assets/img/icon/cc-classic.png" alt="">
                <p>تپسی کلاسیک</p>
            </div>
            <div>
                <img src="./assets/img/icon/cc-classic.png" alt="">
                <p>تپسی کلاسیک</p>
            </div>
            <div>
                <img src="./assets/img/icon/cc-classic.png" alt="">
                <p>تپسی کلاسیک</p>
            </div>
            <div>
                <img src="./assets/img/icon/cc-classic.png" alt="">
                <p>تپسی کلاسیک</p>
            </div>
            <div>
                <img src="./assets/img/icon/cc-classic.png" alt="">
                <p>تپسی کلاسیک</p>
            </div>
            <div>
                <img src="./assets/img/icon/cc-classic.png" alt="">
                <p>تپسی کلاسیک</p>
            </div>
        </div>
        <div class="services-dec">
            <div>
                <h3>تپسی کلاسیک</h3>
                <p>با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان دارید. تپسی کلاسیک، راهی سریع و
                    آسان برای سفرهای درون‌شهری در هر ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند
                    مقصد و همچنین توقف در مسیر را دارید </p>
            </div>
            <img src="./assets/img/illus-classic.webp" alt="illus classic">
        </div>
    </div>
</div>