* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("../fonts/Vazirmatn-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 62.5%;
  font-weight: 300;
  font-family: Vazirmatn;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
h4,
h5,
h6 {
  font-size: 1.8rem;
  font-weight: 400;
}
p,
a {
  font-size: 1rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4,
  h5,
  h6 {
    font-size: 1.3rem;
  }
  p,
  a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .block {
    margin: 0 20px !important;
  }
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

.primary-button {
  border: none;
  color: #fff;
  display: block;
  line-height: 30px;
  padding: 7px 40px;
  border-radius: 8px;
  margin-right: 25px;
  background: #ff5722;

  font-weight: 300;
  font-family: Vazirmatn;
}

.secondary-button {
  border: none;
  color: #fff;
  display: block;
  line-height: 30px;
  padding: 7px 40px;
  border-radius: 8px;
  margin-right: 25px;
  background: #0065dc;
}

/* Header */
#header {
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
#header div {
  display: flex;
  height: 60px;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list ul li {
  margin-right: 25px;
}
.header-menu img {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-list ul {
    display: none;
  }
  .header-list button {
    display: none;
  }
  .header-menu img {
    width: 100%;
    padding: 15px;
    display: block;
    cursor: pointer;
  }
}

/* Hero */
#hero {
  background-image: url(../img/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-box {
  color: #fff;
  background-image: linear-gradient(
    51deg,
    rgba(23, 26, 60, 0.7) 5%,
    rgba(23, 26, 60, 0.3) 95%
  );
  border-radius: 20px;
  padding: 25px;
  width: 700px;
}
.hero-box p {
  margin-bottom: 20px;
}

.hero-box-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-box-1 button {
  border: none;
  margin: 10px;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: 300;
  background-color: #fff;
  font-family: Vazirmatn;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-box-2 button {
  color: #fff;
  border: none;
  margin: 10px;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  font-weight: 300;
  border-radius: 16px;
  font-family: Vazirmatn;
  border: 1px solid #fff;
  background-color: #00000000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-box-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-box-3 button {
  color: #fff;
  border: none;
  margin: 10px;
  width: 50%;
  padding: 16px;
  cursor: pointer;
  font-weight: 300;
  border-radius: 16px;
  font-family: Vazirmatn;
  border: 1px solid #fff;
  background-color: #00000000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-img {
  margin-top: 350px;
  display: flex;
  justify-content: end;
}
.hero-img img {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .hero-box {
    width: 300px;
  }
  .hero-img img {
    display: none;
  }
  .hero-box-1,
  .hero-box-2,
  .hero-box-3 {
    display: flex;
    flex-direction: column;
  }

  .hero-box-3 button {
    width: 100%;
  }
}